body {
    background-color: #171717;
    margin: 0%;
}
h1 {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: bold;
    font-style: normal;
    color: #C8B560;
    text-align: center;
    font-size: 50px;
    display: block;
    margin-top: 50px;
    text-shadow: 0 0 8px #3e3e3e;
}
.side.left:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px green;
}
.side.right:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #9c27b0;
}
h2 {
    color: #A1887F;
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 1.8rem;
    margin-top: 10px;
    text-align: center;
}
.side p {
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 10px;
    color: #d7ccc8; 
}
.side img {
    width: 120px;
    height: 200px;
    border-radius: 20px;
    display: block;
    text-align: center;
    margin-left: 80px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 60px 20px;
    }
.side {
    background-color: #2a2a2a;
    border-radius: 20px;
    padding: 30px;
    width: 280px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: transform 0.3s ease;
}
footer {
      text-align: center;
      font-size: 0.85rem;
      margin: 50px 0;
      color: #8d6e63;
}

